* {
    box-sizing: border-box;
}

body {
    font-family: 'Gemunu Libre', sans-serif;
    margin: 0px;
}

header {
    background-color: black;
    margin: 0px;
}

nav h2 {
    display: inline-block;
    margin-left: 10px;
    color: white;
}

.main-nav {
    list-style-type: none;
    display: inline-block;
    margin-left: 80%;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a {
    color: white;
    text-decoration: none;
}